.pokeall{
    width: 900px;
    display: flex;
    flex-direction: column;
}
.poke{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    padding: 50px;
}
.poke:hover{
    background-color: darkgoldenrod;
}
#name{
    letter-spacing: 0.5rem;
}