.poke{
    flex-basis: 25%;
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.poke-img{
    height: 150px;
    max-height: 100%;
    
}
.poke:hover{
    background-color: darkgoldenrod;
}
#name{
    letter-spacing: 0.5rem;
}