body{
    background-color: burlywood;
}
#pokedex-heading{
    margin: 0 auto;
    letter-spacing: 10px;
    margin-bottom: 20px;
}
.outer-pokedex{
    display: flex;
    flex-direction: column;
    align-items: center;
}